/* --- --- --- --- --- -- C O N T A I N E R S -- --- --- --- --- --- - */
.entry-content {
  height: 173.125rem;  /* 2770px; */
  position: relative;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content {
    height: 132.7rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content {
    height: 176.5rem;
  }
}


/* --- --- --- --- --- --- --- --- SECTION SUPERIEURE --- --- --- --- --- --- --- --- */

/* --- Titre h1 : BOISSON ENERGISANTE 100% NATURELLE --- */
.entry-content h1 {
  top:6.56rem;  /* 185 - 80px; */
  color: var(--commander-bg-title-color);  
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content h1 {
    top: 4.7rem;
  }
}
  
@media (min-width: 320px) and (max-width: 781.99px) {
 .entry-content h1 {
    top: 3rem;
  }
}

/* --- CONTENEUR EXTERIEUR DES GRAPHIQUES --- */
.entry-content .wp-container-core-columns-is-layout-1 {
  position: absolute;
  top: 5.187rem; /* 163 - 80px */
  width: var(--full-width); /* 1440px; */
  height: 59.375rem;   /* 950px; */
  fill: #E3D9D0;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-container-core-columns-is-layout-1 {
    top: 5rem;
    width: 100%;
    height: 35rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-container-core-columns-is-layout-1 {
    top: 3rem;
    width: 100%;
    height: 27rem;
  }
}

/* --- --- CONTENEUR INTERIEUR DES GRAPHIQUES --- --- */
.entry-content .wp-block-columns:nth-child(2) .wp-block-column {
  position: relative;
  height: 59.375rem;                /* 950px; */
  display: var(--display-flex);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-block-columns:nth-child(2) .wp-block-column {
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(2) .wp-block-column {
    height: 29rem;
  }
}

/* --- shortcode Logo Canette --- */
.titre-et-image {
  position: absolute;
  left: 4.02%;          /* 58px;  */
  width: 93.33%;        /* 1344px; */
  height: 59.375rem;    /* 950px; */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .titre-et-image {
    width: 100%;
    height: 100%;
    left: 0px;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .titre-et-image {
    width: 100%;
    height: 30rem;
    left: 0rem;
  }
}

/* --- */
.titre-et-image img {
  position: absolute;
  z-index: 5;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .titre-et-image img {
    width: 100%;
    left: 0px;
    height: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .titre-et-image img {
    width: 100%;
    height: 17rem;
    top: 6rem;
  }
}

/* --- Les 2 blocs 'figure' conteneurs d'images de rameaux --- */
.entry-content .wp-block-columns:nth-child(2) .wp-block-column figure {
  display: inline-block;
  position: relative;
  top: 0rem;
  width: 50%;    /* 720px; */
  height: 100%;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-block-columns:nth-child(2) .wp-block-column figure {
    width: 49%;
    height: 100%;
    margin-left: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(2) .wp-block-column figure {
    top: 11rem;
    left:25%;
    width: 25%;
    height: 100px;
  }
}

/* --- Les images --- */
#post-99 .wp-block-image img,
#post-99 .wp-image-599, .wp-image-601 {
  position: absolute;
  top: 18.75rem;
  width: 21.875rem;         /* 350px     */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  #post-99 .wp-block-image img, #post-99 .wp-image-599, .wp-image-601 {
    top: 12rem;
    height: 40%;
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  #post-99 .wp-block-image img, #post-99 .wp-image-599, .wp-image-601 {
    top: auto;
    height: 100%;
  }
}

.wp-image-599 {
  right: 0px;
}

.wp-image-601 {
  position: relative;
  left: 10px;
}

/* --- --- --- --- --- - DEUXIEME SECTION : Titre et paragraphe - --- --- --- --- --- */

.entry-content .wp-block-columns:nth-child(3) {
  position: absolute;
  top: 53rem;               /*  928 - 80px */
  width: var(--full-width);
  z-index: 10;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-block-columns:nth-child(3) {
    top: 33.5rem;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(3) {
    top: 24rem;
    width: 100%;
    height: 285px;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(3) .wp-block-column {
    height: 285px;
  }
}

/* --- SOUS - SECTION PRESENTATION (.entry-content .wp-block-columns:nth-child(3) #accueil-presentation) --- */
#accueil-presentation {
  width: 100%;           /* 1440 */
  height: 25.938rem;     /*415px; */
  background-image: url('http://planty-2.local/wp-content/uploads/2024/04/svg-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  #accueil-presentation {
    height: 18rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  #accueil-presentation {
    width: 99%;
    height: 285px;
    background-image: url();
    background-color: var(--body-bg-color);
  }
}

/* --- */
#accueil-presentation h2 {
  position: relative;
  top: 8.125rem;  /* 130px; */

  color: var(--commander-bg-title-color);
  text-align: center;
  font-weight: 700;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  #accueil-presentation h2 {
    top: 29.5%;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  #accueil-presentation h2 {
    top: 8%;
  }
}

#accueil-presentation p {
  position: relative;
  top: 12.313rem;     /*  213px;  */
  left: 32.5%;    /* 472px; */
  width: 34.5%;   /* 497px; */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  #accueil-presentation p {
    width: 70%;
    top: 34.5%;
    left: 15%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  #accueil-presentation p {
    width: 90%;
    top: 21%;
    left: 5%;
  }
}

/* --- --- --- --- --- --- -- SECTION PRESENTATION PRODUITS - --- --- --- --- --- --- */

/* titre 'LES GOUTS'*/
.entry-content h2:nth-child(4) {
  position: absolute;
  top: 82.56rem;               /*1401 - 80px; */
  width: var(--full-width);

  color: #D2776A;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content h2:nth-child(4) {
    top: 55rem;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content h2:nth-child(4) {
    top: 46rem;
    width: 100%;
  }
}

/* La phrase paragraphe */
.entry-content p:nth-child(5) {
  position: absolute;
  top: 85.25rem;        /* 1444 - 80px;  */
  width: var(--full-width);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content p:nth-child(5) {
    top: 57.5rem;
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content p:nth-child(5) {
    top: 49rem;
    width: 100%;
  }
}

/* --- --- --- SOUS  SECTION PRODUIT : THE CARDS --- --- --- */

/* -- Outer column container -- */
.wp-container-core-columns-is-layout-3 {
  position: absolute;
  top:89.81rem;      /* 1516 - 80px;  */
  left: 20.27%;
  height: 37.875rem;      /* 606px : (263 * 2) + 80 ( 40 * 2) */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .wp-container-core-columns-is-layout-3 {
    top: 62rem;
    left: 0rem;
    width: 100%;
    height: 30rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .wp-container-core-columns-is-layout-3 {
    top: 53rem;
    left: 0rem;
    width: 100%;
    height: 56rem;
  }
}

/* -- Inner column container -- */
.entry-content .wp-block-columns:nth-child(6) .wp-block-column {
  width: 52.875rem;     /* 846px; */
  display: var(--display-flex);
  flex-wrap: wrap;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-block-columns:nth-child(6) .wp-block-column {
    width: 100%;
    justify-content: var(--justify-around);
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(6) .wp-block-column {
    width: 100%;
    margin: auto;
  }
}

/* --- cards ---  */
.image-produit {
  width: 24.563rem;     /* 393px; */
  height: 16.375rem;    /* 262px; */
  margin-left: 0.938rem;  /*15px; */
  margin-right: 0.938rem;   /* 15px; */

  display: var(--display-flex);
  justify-content: var(--justify-around);
  align-items: var(--align-center);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .image-produit {
    width: 46%;
    height: 13.75rem;
    margin: 0.75rem;
    background-size: cover;
  }
}

@media (min-width: 320px) and (max-width: 781.98px) {
  .image-produit {
    width: 90%;
    height: 12.5rem;
    background-size: cover;
    margin-left: 5%;
    margin-bottom: 4%;
  }
}

/* --- Noms produits ---  */
.nom-produit {
  color: var(--body-bg-color);
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  font-weight: var(--font-weight-1);    /*  800;  */
  text-transform: uppercase;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content .wp-block-columns:nth-child(6) .wp-block-column .image-produit .nom-produit {
    font-size: var(--tablet-card-font-size);
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content .wp-block-columns:nth-child(6) .wp-block-column .image-produit .nom-produit {
    font-size: var(--mobile-card-font-size);
  }
}

/* --- --- --- SOUS  SECTION PRODUIT : LE CTA - --- --- --- */
.button-box {
  position: absolute;
  top: 128rem;    /* 2128 - 80px */
  width: 100%;

  display: var(--display-flex);
  justify-content: var(--justify-around);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .button-box {
    top: 95rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .button-box {
    top: 112rem;
  }
}

/* --- --- --- --- --- --- --- --- -- BOTTOM SECTION --- --- --- --- --- --- --- --- */

/* -- bloc exterieur avec graphe de canettes -- */
div.entry-content>div:nth-child(8) {
  position: absolute;
  top: 133.25rem;           /* 2212 - 80px;  */
  width: 100%;
  height: 39.875rem; /* 638px;  */

  background-image: url("http://planty-2.local/wp-content/uploads/2024/04/svg2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  div.entry-content>div:nth-child(8) {
    top: 101.5rem;
    height: 31.25rem;
    background-size: cover;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  div.entry-content>div:nth-child(8) {
    top: 119rem;
    height: 57.5rem;
    background-size: auto;
    background-image: url();
    background-color: var(--body-bg-color);
  }
}

/* -- bloc interieur : image des canettes -- */
.image-canettes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8.875rem;   /* 142px; */
  background-repeat: no-repeat;
}

/* --- --- --- BLOC DU TITRE h2 'CE QU’ILS EN PENSENT' --- --- ---*/
.entry-content div:nth-child(9) {
  position: absolute;
  top: 141.56rem;   /* 2345 - 80px */
  width: 100%;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content div:nth-child(9) {
    top: 107rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content div:nth-child(9) {
    top: 124rem;
  }
}

/* -- Le Titre h2 (CE QU’ILS EN PENSENT) -- */
.entry-content div:nth-child(9) .wp-block-column .wp-block-heading {
  color: var(--commander-bg-title-color);
  text-align: var(--parag-text-align);
  font-weight: 800;
  text-transform: uppercase;
}

/* --- --- --- BLOC DU FEEDBACK --- --- ---*/

/* LE BLOC CONTENEUR */
.entry-content div:nth-child(10) {
  position: absolute;
  top: 149.06rem;            /* 2465 - 80px;  */
  left: 8.25rem; /* 132px; */
  width: 73.188rem; /* 1171px; */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
  .entry-content div:nth-child(10) {
    top: 113rem;
    width: 100%;
    left: 0rem;
  }
}

@media (min-width: 320px) and (max-width: 781.99px) {
  .entry-content div:nth-child(10) {
    width: 90%;
    top: 130rem;
    left: 4%;
  }
}

/* -- La boite de retour d'expérience -- */
.feedback-box {
  display: var(--display-flex);
  justify-content: var(--justify-between);
  margin: 0.5rem;
}

/* L'image */
.feed-img {
  width: 7.893rem;    /* 126.28px;    */
  height: 8.688rem;      /* 139px; */
}

/* La sous boite contenant le nom et le texte du commentaire */
.retour {
  width: 13.5rem; /* 216px; */
  height: 8.688rem; /* 139px; */
  display: var(--display-flex);
  flex-direction: var(--flex-vertical);
  justify-content: var(--justify-around);
}

/* Le nom du client */
.customer-name {
  color: var(--commander-bg-title-color);
  font-size: var(--h2-font-size);
  font-style: var(--parag-font-style);
  font-weight: 700;
  line-height: normal;

}

/* Le commentaire du client */
.feed-text {
  width: 196px;

  font-size: var(--menu-n-card-font-size);
  line-height: normal;
  text-align: left;
}