@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    width: 90rem;                                   /* 1440 px */
    margin: 0 auto;
    padding: 0;
    font-family: "Syne", sans-serif;

    --card-font-size: 3rem;                         /* 48 px */
    --h1-font-size: 2.375rem;                       /* 38 px */
    --h2-font-size: 1.875rem;                       /* 30 px */
    --cta-font-size: 0.938rem;                      /* 15 px */
    --menu-n-card-font-size: 1rem;                  /* 16 px */
    --parag-font-size: 1.25rem;                     /* 20 px */

    --parag-font-style: normal;
    --parag-font-weight: 400;
    --cta-line-height: 2.313rem;                    /* 37 px */
    --parag-text-align: center;
    --font-weight-1: 800;                           /* home page cards' title */

    --body-bg-color: #FFFFFF;
    --container-bg-color: #ECE2DA;
    --menu-commander-color: #DC9F96;
    --menu-commander-hover-color: #C02E44;
    --cta-button-color: #E0B9B4;
    --orange-h1-h2-color: #D2776A;
    --commander-bg-title-color: #3B8E46;
    --text-color: #000000;

    --full-width: 90rem;                            /* 1440px; width */

    --display-flex: flex;                           /* display */
    --flex-vertical: column;                        /* flex-direction */
    --justify-center: center;                       /* justify-content */
    --justify-between: space-between;               /* justify-content */
    --justify-around: space-around;                 /* justify-content */
    --align-center: center;                         /* align-items */
    --align-start: flex-start;                      /* align-items */

    /* Vars values for tablet devices */
    --tablet-card-font-size: 2.5rem;                /* 32 px replace 48 */
    --tablet-h1-font-size: 1.9rem;                  /* 1.625rem; */
    --tablet-h2-font-size: 1.25rem;                 /* 20 replace 30 px */
    --tablet-cta-font-size: 0.625rem;               /* 10 replace 15 px */
    --tablet-menu-n-card-font-size: 0.75rem;        /* 12 replace 16 px */
    --tablet-parag-font-size: 0.813rem;             /* 13 replace 20 px */

    --tablet-parag-font-weight: 400;
    --tabletmobile-cta-line-height: 1.5rem;         /* 24 replace 37 px */
    --tablet-font-weight-1: 800;                    /* replace home page cards' title */

    /* Vars intended to change the display in mobile devices */
    --mobile-card-font-size: 2rem;                  /* 32 px replace 48 */
    --mobile-h1-font-size: 1.8rem; /* 1.625rem;     /* 26 replace 38 px */
    --mobile-h2-font-size: 1.6rem;                 /* 25.6 px */
    --mobile-cta-font-size: 0.625rem;               /* 10 replace 15 px */
    --mobile-menu-n-card-font-size: 0.75rem;        /* 12 replace 16 px */
    --mobile-parag-font-size: 0.813rem;             /* 13 replace 20 px */

    --mobile-parag-font-weight: 400;
    --mobile-cta-line-height: 1.5rem;               /* 24 replace 37 px */
    --mobile-font-weight-1: 800;              /* replace home page cards' title */
}

body {
    position: absolute;
    margin: 0 auto;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    body {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    body {
        width: 100%;
    }
}

/* --- --- --- --- --- --- --- --- -- W R A P P E R -- --- --- --- --- --- --- --- --- */
.entry-content, .rencontrer, .commander {
    width: 90rem;
    background-color: var(--container-bg-color);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    .entry-content, .rencontrer, .commander {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .entry-content, .rencontrer, .commander {
        width: 100%;
    }
}

/* --- --- --- --- --- --- --- --- --- H E A D E R --- --- --- --- --- --- --- --- --- */
#header {
    height: 5rem;    /* 80px; */

    display: var(--display-flex);
    justify-content: var(--justify-between);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    #header {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #header {
        height: 3.125rem;
        width: 100%;
    }
}

/* --- --- --- --- --- L O G O --- --- --- --- --- */
#branding {             /* native */
    width: 19.09%;      /* 37 + 201 +37 = 275px; */
    height: 100%;
    display: var(--display-flex);
    justify-content: var(--justify-around);
    align-items: var(--align-center);
    margin-left: 2.56%;    /* 37px */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    #branding {
        width: 20%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #branding {
        width: 25.78%;
    }
}

#logo, #logo a img {
    width: 100%;            /* 201rem; */
    height: 1.188rem;       /* 19px; */
}

/* --- --- --- --- --- M E N U --- --- --- --- --- */
#menu {                /* nav tag */
    width: 32.25rem;  /* 516 px : (nous rencontrer:114 + 60 + Admin:46 + 60 + Commander:236) - 35,83% */
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    #menu {
        width: 45%;
        position: absolute;
        right: 0px;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #menu {
        width: 27%;
        cursor: pointer;
    }
}

#menu-icon {
    width: 100%;
    display: var(--display-flex);
    justify-content: var(--justify-around);
}

#hamburger {
    display: none;      /* hide hmaburger on desktop screens */
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #hamburger {
    width: 2.5rem;
    height: 2.10rem;
    margin: 0.5rem;

    display: var(--display-flex);
    flex-direction: var(--flex-vertical);
    justify-content: var(--justify-around);
    align-items: var(--align-center);
    }
}

.hamburger-bar {
    background-color: var(--menu-commander-color);
    border: solid 1px var(--menu-commander-color);
    border-radius: 2px;;
    width: 90%;                                                 /* 50px; */
    height: 13.8%;                                              /* 50px; */
}

.menu-header_menu-container,
.menu-visiteur-container {                                      /* menu div container */
    width: 100%;
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .menu-header_menu-container,
    .menu-visiteur-container {
        display: none;         /* hide menu on mobile screens */
    }
}

.menu-visiteur-container {    /* menu div container */
    position: relative;
    margin-right: 0px;
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .menu-visiteur-container {
        display: none;         /* hide menu on mobile screens */
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #menu:hover .menu-header_menu-container,
        #menu:hover .menu-visiteur-container {             /* menu div container */
        position: relative;
        z-index: 10;
        display: var(--display-flex);
        flex-direction: var(--flex-vertical);
    }
}

#menu-header_menu,
#menu-visiteur {                                                /* nav menu ul */
    display: var(--display-flex);
    justify-content: var(--justify-between);
    align-items: var(--align-center);

    width: 100%;
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #menu-header_menu, #menu-visiteur {
        display: var(--display-flex);
        flex-direction: var(--flex-vertical);        /* vertical display for list */
        background-color: var(--body-bg-color);
        height: 7.75rem;
    }
}

.menu-item {
    display: var(--display-flex);
    justify-content: var(--justify-between);
    align-items: var(--align-center);

    height: 5rem;                                      /* 50px; */
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .menu-item {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #menu-header_menu .menu-item, #menu-visiteur .menu-item {
        border-top: solid 1px var(--menu-commander-color);
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    #menu-visiteur .menu-item-213 {
        border-top: solid 0px white;                  /* rendre invisible le trait de séparation de 50%width */
    }
}

.menu-item a {
    font-size: 1rem;
    color: black;
    text-decoration: none;

    display: var(--display-flex);
    justify-content: var(--justify-around);
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .menu-item a {
        width: 100%;
    }
}

.menu-item-213,
.menu-item-214,
.menu-item-215 {
    width: 33.33%;
    display: var(--display-flex);
    justify-content: center;
}

.menu-item-215 {
    width: 45.73%;               /* 236px; */
    height: 5rem;
    background-color: var(--menu-commander-color);

    justify-content: var(--justify-around);
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    .menu-item-155,
    .menu-item-215 {
        width: 45.73%;
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    .menu-item-155,
    .menu-item-215 {
        width: 100%;
        height: 3.125rem;         /* 50px; */
    }
}

.menu-item-213 a,
.menu-item-215 a {
    width: 100%;                 /* 236px; */
}

.menu-item-155 span,
.menu-item-215 span {
    color: var(--body-bg-color);
}

/* Changement couleur background menu 'Commander' et boutons */
.button-box .button-text:hover,
.wpcf7-submit:hover,
.menu-item-215:hover {
    background-color: var(--menu-commander-hover-color);
}

/* --- --- --- --- --- C O M M O N - C L A S S E S - T A G S --- --- --- --- --- */

h1 {
    position: absolute;
    font-size: var(--h1-font-size);
    width: 100%;
    font-style: var(--parag-font-style);
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 782px) and (max-width: 1439.99px) {
    h1 {
        font-size: var(--tablet-h1-font-size);
    }
}

@media (min-width: 320px) and (max-width: 781.99px) {
    h1 {
        font-size: var(--mobile-h1-font-size);
    }
}

h2 {
    width: 100%;

    font-size: var(--h2-font-size);
    font-style: normal;
    line-height: normal;
}

p {
    color: var(--text-color);
    font-size: var(--parag-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* --- --- --- --- --- --- --- F O O T E R --- --- --- --- --- --- --- */
#footer {
    height: 3.75rem;            /* 60px */
    background-color: var(--body-bg-color);
}

.menu-footer_menu-container {
    display: var(--display-flex);
    justify-content: var(--justify-around);
    align-items: var(--align-center);
}

/* --- --- --- --- --- --- --- -- C T A --- --- --- --- --- --- --- --- */

/* le bouton dirigeant vers page 'Commander' */
.button-box .button-text,
input[type="submit"] {    /* theme.css:415 */
    background: var(--cta-button-color);
    color: var(--body-bg-color);
    font-size: var(--cta-font-size);
    font-style: var(--parag-font-style);
    font-weight: var(--parag-font-weight);
    line-height: var(--cta-line-height);

    border: 0 solid rgba(0, 0, 0, 0);
}

.button-text {
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;

    border-radius: 5px;

    text-align: var(--parag-text-align);
}

.button-text a {
    text-decoration: none;
    color: var(--body-bg-color);
}

/* Les boutons des formulaires */
input[type="submit"] {
    display: block;
    width: 198px;
    height: 55px;
    padding: 9px 57px 9px 56px;
    border-radius: 5px;
}

#wpcf7-f76-p79-o1>form p:nth-child(5) {
    display: var(--display-flex);
    justify-content: center;
}